:verbatim
	---
	layout: default
	---

.home
	<!-- section for featured post -->
	section.site-section
		.wrapper
			h1 featured article
			= '\n'
			:verbatim
				        {% assign count = 0 %}
				        {% for post in site.posts reversed %}
				          {% if post.featured == true and count < 1 %}
				            <div class="post post-featured">
				              {% include post.html %}
				            </div>
				            {% assign count = count | plus: 1 %}
				          {% endif %}
				        {% endfor %}
	<!-- section for featured projects -->
	<!-- section for latest articles -->
	section.site-section.site-section-last
		.wrapper
			h1 latest articles
			ul.post-list
				| {% for post in site.posts reversed | limit: 4 %}
				|   <li class="post">
				|     {% include post.html %}
				|   </li>
				| {% endfor %}