:verbatim
	---
	layout: default
	---

.home
	<!-- section for featured post -->
	<!-- section for featured projects -->
	<!-- section for latest articles -->
	section.site-section.site-section-last
		.wrapper
			h1 latest articles
			ul.post-list
				li.post
					h2 post title
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
					p.post-read-more-link 
						a(href="#") read more...